h2{
background-color:pink;
font-family: papyrus;
text-decoration:underline;
opacity: 100%;
width: 105px
}
p.ep{
background-color:pink;
font-family: papyrus;
text-decoration:underline;
opacity: 100%;
width: 105px
}
