h2{
background-color:red;
color:white;
font-family: papyrus;
text-decoration:underline;
opacity: 100%;
width: 105px
}
p.ep{
background-color:red;
color:white;
font-family: papyrus;
text-decoration:underline;
opacity: 100%;
width: 105px
}
